/* Estilos para o corpo da página e elementos do formulário */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #6e6f72;
  }
  
  form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  textarea,
  select {
    width: calc(100% - 12px);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
  }
  
  button {
    padding: 12px 24px;
    cursor: pointer;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #388e3c;
  }
  
  /* Estilos para a lista de ordens */
  #ordersList {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  button {
    padding: 8px 16px;
    cursor: pointer;
  }
  